#header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height:50px;
    background-color:lightblue;
    padding:5px;      
}
#section {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding:5px;	 	 
}
#footer {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


/* unvisited link */
a:link {
    color: red;

}

/* visited link */
a:visited {
    color: navyblue;

}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
 
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;

}

.error {color: #FF0000;}